In [23]:
import pandas as pd

data1 = pd.read_csv('data_test/men_world_records.csv', sep=',')
data2 = pd.read_csv('data_test/men_world_records_2.csv', sep=',')

In [17]:
import pandas as pd

data_diff = pd.DataFrame(columns=data1.columns)

for discipline in data1["DISCIPLINE"].unique():
    row_data1 = data1[data1["DISCIPLINE"] == discipline]
    row_data2 = data2[data2["DISCIPLINE"] == discipline]
    
    if not row_data1.equals(row_data2):
        data_diff = pd.concat([data_diff, row_data1, row_data2], ignore_index=True)

In [18]:
data_diff

,DISCIPLINE,PERF,COMPETITOR,DOB,COUNTRY,VENUE,DATE
0,100 Metres,9.58,Usain BOLT,21 AUG 1986,JAM,"Olympiastadion, Berlin (GER)",16 AUG 2009
1,100 Metres,9.58,Usain BOLTs,21 AUG 1986,JAM,"Olympiastadion, Berlin (GER)",16 AUG 2009

In [24]:
import pandas as pd


data_diff = pd.DataFrame()

for discipline in data1["DISCIPLINE"].unique():
    row_data1 = data1[data1["DISCIPLINE"] == discipline]
    row_data2 = data2[data2["DISCIPLINE"] == discipline]
    
    if not row_data1.equals(row_data2):
        merged_row = pd.merge(row_data1, row_data2, on="DISCIPLINE", how="outer", suffixes=('_data1', '_data2'))
        data_diff = pd.concat([data_diff, merged_row], ignore_index=True)

In [25]:
data_diff

,DISCIPLINE,PERF_data1,COMPETITOR_data1,DOB_data1,COUNTRY_data1,VENUE_data1,DATE_data1,PERF_data2,COMPETITOR_data2,DOB_data2,COUNTRY_data2,VENUE_data2,DATE_data2
0,100 Metres,9.58,Usain BOLT,21 AUG 1986,JAM,"Olympiastadion, Berlin (GER)",16 AUG 2009,9.58,Usain BOLTs,21 AUG 1986,JAM,"Olympiastadion, Berlin (GER)",16 AUG 2009
1,3000 Metres,7:20.67,Daniel KOMEN,17 MAY 1976,KEN,Rieti (ITA),01 SEP 1996,7:20.67,Daniel KOMEN,17 MAY 1976,KEN,Rieti (ITA),01 SEP 1995